#container-base {
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */

  font-family: sans-serif;
  font-size: 100%;
  font-style: normal;

  width: auto;
  height: auto;

}

label { display: inline-block; width: 150px; }
input { display: inline-block; width: 150px; }
button  { display: inline-block; width:70px; height: 25px;}
mat-card-title {font-size: 20px;  font-weight: bold;}
