<div class="layout" [class.isMobile]="mobileQuery.matches">
    <mat-toolbar>
        <button aria-label="Open application menu" mat-icon-button (click)="snav.toggle()" *ngIf="mobileQuery.matches">
            <mat-icon>menu</mat-icon>
        </button>

        <h1 class="title">ETC</h1>

        <span class="spacer"></span>
        <span class="icons" (click)="openNotification()"><mat-icon  >notifications</mat-icon>( {{ unreadNotifications }} )</span>
        <!-- <mat-icon class="icons" routerLink="env.routes.message">mail</mat-icon> -->
    </mat-toolbar>

    <mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <mat-list-item routerLink="{{item.link}}" *ngFor="let item of env.menu" (click)="mobileQuery.matches && snav.toggle()">
                    <mat-icon matListIcon>{{item.icon}}</mat-icon>
                    <p matLine>{{item.title}}</p>
                    <mat-divider *ngIf="item.withDivider"></mat-divider>
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav #notificationNav position="end" mode="over">
          <div class="notification-link">
              <button  mat-raised-button routerLink="notifications">Show all notifications</button>
          </div>
          <mat-divider></mat-divider>
          <div *ngFor="let notification of notifications">
            <div class="notification" [class.notification-unread]="notification.unread">
              <span class="notification-date">{{ notification.date | date:'short' }}</span>
              <span class="notification-title">{{ notification.title }}</span>
              <p class="notification-content">{{ notification.content }}</p>
              <mat-divider></mat-divider>
            </div>
          </div>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
