
#container-base {
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  vertical-align: baseline;
  font-family: Helvetica,Arial,Lucida,sans-serif;

  margin-left: 20px;
  margin-right: 20px;


}
mat-toolbar{
  font-size: 24px;

}
p,li {
  line-height: 30px;
  padding-bottom: 10px;
  font-size: 20px;

}

h3{
  font-size: 24px;
}

h4{
  font-size: 20px;
}

a,span{
  font-size: 20px;
}
