<br>
<div id="container-base" fxLayout="row" >
  <mat-card >
    <mat-card-content >
      <mat-toolbar> Qui sommes-nous?</mat-toolbar>
      <p>
        <img src="./assets/images/eco-logo2.png" />
        <br>
        Le projet Eco Transport Campus a été réalisé dans le cadre du cours de système d’informatiques d’entreprise et Cloud « SOA » en cinquième année à Polytech Paris Sud.
        <br>
        Le sujet consistait à mettre en place une application web de gestion des déplacements pour les étudiants de Polytech Paris Sud.
        <br>
        L’intérêt du projet est de développer une application permettant d’aider les étudiants, en temps réel, de gérer leurs déplacements quotidiens de la façon la plus écologique tout en permettant une bonne réactivité.
      </p>
      <h3 >Vous aller pouvoir : </h3>
      <ul>
        <li>	Vérifier en temps réel les conditions de circulation sur un trajet donnée afin d’anticiper des difficultés sur les routes.</li>
        <li>	Consulter l’état du Traffic RATP et bus en temps réel. </li>
        <li>	Chercher des annonces de possibilités de co-voiturage sur certains trajets. </li>
        <li>	Visualiser les statistiques concernant les trajets effectués.  </li>
        <li> Indiquer la possibilité de partager le véhicule si 3 personnes font un trajet commun tous les jours. </li>
      </ul>
      <p>
        Afin de réaliser ce projet, la promo APP5 représente le seul prestataire de service.
        <br><br><img src="./assets/images/polytech_logo.png" /><br>
        <br>Nous sommes une équipe de 21 apprentis ingénieurs en informatique.
        <br>Chaque groupe s’est chargé de développer un module pour le projet.
      </p>
      <h3> Lien GitHub du projet :&nbsp; <img src="./assets/images/githubicon.png" width="60px" height="60px" /></h3>
      <a href="https://github.com/eco-transports-campus/">https://github.com/eco-transports-campus/</a>
      <h3> Pour nous contacter !</h3>
      <h4> Sur Slack&nbsp;<img src="./assets/images/slackicon.png" width="60px" height="60px" /> </h4>
      <a href="https://eco-transports-campus.slack.com">https://eco-transports-campus.slack.com</a>
      <h4> Par Email &nbsp; <img src="./assets/images/mail.png" width="60px" height="60px" /> </h4>
      <span>  app5-info.polytech@u-psud.fr </span>
    </mat-card-content>


  </mat-card>
</div>
