
#container-base {
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  vertical-align: baseline;
  font-family: Helvetica,Arial,Lucida,sans-serif;
  font-size: 100%;
  font-style: normal;

}

#card1{
  width: 700px;
}

#card2{

  width: 330px;
}

p,li {
  line-height: 25px;
  padding-bottom: 10px;
}
